<footer>
  <div class="div1">
    <div>
      <div class="about">
        <p class="about-paragraph">ABOUT</p>
        <a href="#" class="a1">Contact Us</a><br />
        <a href="#" class="a1">About Us</a><br />
        <a href="#" class="a1">Careers</a><br />
        <a href="#" class="a1">FlipCart Stories</a><br />
        <a href="#" class="a1">Press</a><br />
        <a href="#" class="a1">FlipCart Wholesale</a><br />
        <a href="#" class="a1">Coperate Information</a><br />
      </div>
      <div class="help">
        <p class="help-paragraph">HELP</p>
        <a href="#" class="a1">Payments</a><br />
        <a href="#" class="a1">Shipping</a><br />
        <a href="#" class="a1">Cancellataion & Returns</a><br />
        <a href="#" class="a1">FAQ</a><br />
        <a href="#" class="a1">Report Infringement</a><br />
      </div>
      <div class="policy">
        <p class="policy-paragraph">POLICY</p>
        <a href="#" class="a1">Return Policy</a><br />
        <a href="#" class="a1">Terms Of use</a><br />
        <a href="#" class="a1">Security</a><br />
        <a [routerLink]="['/privacypolicy']" class="a1">Privacy</a><br />
        <a href="#" class="a1">Sitemap</a><br />
        <a href="#" class="a1">EPR Compliance</a><br />
      </div>
      <div class="social">
        <p class="social-paragraph">SOCIAL</p>
        <a href="#" class="a1">Facebook</a><br />
        <a href="#" class="a1">Twitter</a><br />
        <a href="#" class="a1">YouTube</a><br />
      </div>
      <div class="vl"></div>
      <div class="mailus">
        <p class="mailus-paragraph">Mail Us:</p>
        <p class="mailus-paragraph2">
          Flipkart Internet Private Limited,<br />
          Buildings Alyssa, Begonia & <br />
          Clove Embassy Tech Village, <br />
          Outer Ring Road, Devarabeesanahalli Village,<br />
          Bengaluru, 560103, <br />
          Karnataka, India
        </p>
      </div>
      <div class="registered-office-address">
        <p class="registered-office-address-paragraph">
          Registered Office Address:
        </p>
        <p class="registered-office-address-paragraph2">
          Flipkart Internet Private Limited,<br />
          Buildings Alyssa, Begonia & <br />
          Clove Embassy Tech Village, <br />
          Outer Ring Road, Devarabeesanahalli Village,<br />
          Bengaluru, 560103, <br />
          Karnataka, India <br />
          CIN : U51109KA2012PTC066107 <br />
          Telephone:044-45614700 <br />
        </p>
      </div>
      <div class="h1"></div>
      <div class="footer-div1">
        <img [src]="becomeSeller" class="footer-image" />
        <a href="#" class="footer-div1-ancher">Become a Seller</a>
      </div>
      <div class="footer-div2">
        <img [src]="advertise" class="footer-image" />
        <a href="#" class="footer-div2-ancher"> Advertise </a>
      </div>
      <div class="footer-div3">
        <img [src]="giftCard" class="footer-image" />
        <a href="#" class="footer-div3-ancher"> Gift Cards </a>
      </div>
      <div class="footer-div4">
        <img [src]="helpCenter" class="footer-image" />
        <a href="#" class="footer-div4-ancher"> Help Center </a>
      </div>
      <div class="footer-div5">
        <p class="copy-right">© 2007-2022 Flipkart.com</p>
      </div>
      <img [src]="img" class="footer-payment-logo" />
    </div>
  </div>
</footer>
