.div1{
    position: absolute;
    //top:600px;
    width: 100%;
    height:350px;
    background-color:  #172337;
}
.about{
    margin-left: 130px;
    margin-top: 50px;
    color: white;
    width:200px;
    height: 200px;
}
.about-paragraph{
    color: rgb(122, 119, 119);
    font-size: 17px;
}
.a1{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.a1:hover{
    text-decoration: underline;
}
.help-paragraph{
    color: rgb(122, 119, 119);
    font-size: 17px;
}
.help{
    margin-left: 320px;
    margin-top: -200px;
    color: white;
    width:200px;
    height: 200px;
}
.policy-paragraph{
    color: rgb(122, 119, 119);
    font-size: 17px;
}
.policy{
    margin-left:510px;
    margin-top: -203px;
    color: white;
    width:200px;
    height: 200px;
    
}
.social-paragraph{
    color: rgb(122, 119, 119);
    font-size: 17px;
}
.social{
    margin-left:650px;
    margin-top: -203px;
    color: white;
    width:200px;
    height: 200px;
}
.vl {
    border-left: 1px solid rgb(122, 119, 119);
    height:140px;
    margin-left:940px;
    margin-top:-190px;
  }
  .mailus-paragraph{
    color: rgb(122, 119, 119);
    font-size: 15px;
  }
  .mailus{
    margin-left:970px;
    margin-top: -160px;
    color: white;
    width:280px;
    height: 200px;
  }
  .mailus-paragraph2{
    color: white;
    font-size:13px;
  }
  .registered-office-address-paragraph{
    color: rgb(122, 119, 119);
    font-size: 15px;
  }
  .registered-office-address{
    margin-left:1250px;
    margin-top: -205px;
    color: white;
    width:280px;
    height: 200px;
  }
  .registered-office-address-paragraph2{
    color: white;
    font-size:13px;
  }
  .h1{
    height:0.1px;
    width: 100%;
    margin-top:45px;
    background-color: rgb(122, 119, 119);
  }
 .footer-div1{
  width:200px;
  height: 30px;
  margin-left: 100px;
  margin-top: 30px;
 }
 .footer-image{
   width:18px;
   height:18px;
   background-color:#172337 ;
 }

 .footer-div1-ancher{
   margin-top:50px;
   margin-left:10px;
   text-decoration: none;
   font-size: 15px;
   color:white;
 }
 .footer-div2{
  width:200px;
  height: 30px;
  margin-left:270px;
  margin-top:-30px;
 }
 .footer-div2-ancher{
  margin-top:50px;
  margin-left:10px;
  text-decoration: none;
  font-size: 15px;
  color:white;
}
.footer-div3{
  width:200px;
  height: 30px;
  margin-left:400px;
  margin-top:-30px;
 }
 .footer-div3-ancher{
  margin-top:50px;
  margin-left:10px;
  text-decoration: none;
  font-size: 15px;
  color:white;
}
.footer-div4{
  width:200px;
  height: 30px;
  margin-left:550px;
  margin-top:-30px;
 }
 .footer-div4-ancher{
  margin-top:50px;
  margin-left:10px;
  text-decoration: none;
  font-size: 15px;
  color:white;
}
.footer-div5{
  width:200px;
  height: 30px;
  margin-left:710px;
  margin-top:-25px;
 }
 .copy-right{
  color: white;
  font-size: 15px;
 }
 .footer-payment-logo{
  width:450px;
  height:30px;
  position: relative;
  top:-35px;
  left:1020px;
 }
