table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  img {
    margin-left: 20px;
    margin-top: 10px;
    width: 200px;
    height: 200px;
  }
  h3 {
    margin-left: 100px;
    font-size: 20px;
  }
